html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.5em "Helvetica Neue", Helvetica, Sans-serif, Arial;
    font-style: normal;
    -webkit-text-size-adjust: none;
    background-color: #e9e9e9;
}

html.lt-ie9 body {
    font: 16px/1.375em "Helvetica Neue", Helvetica, Sans-serif, Arial;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 {
    font-size: 44px;
    line-height: 46px;
    letter-spacing: -0.0176em;
    margin: 0.5em 0 1em;
}

h2 {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.0176em;
    margin: 0.5em 0 1em;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.0176em;
    margin: 0.5em 0 1em;
}

h4 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    margin: 0.5em 0 1em;
}

h5 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    margin: 0.5em 0 1em;
}

p {
    /*margin : 0; padding : 0;*/
    margin: 0 0 1.25em 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #cc0000;
    text-decoration: none;
}

a:active {
    outline: none;
    outline-style: none;
    -moz-outline-style: none;
}

a:focus {
    opacity: .5%;
}

strong {
    font-style: normal;
    font-weight: 700;
}

img {
    height: auto;
    max-width: 100%;
}

input, textarea {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input[type=text] {
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

ol {
    list-style-position: outside;
    text-indent: 0 em;
    counter-reset: foo;
    display: table;
}

ul:before, #page-wrapper ul:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}


/*clearfix lslee*/

ul:after {
    clear: both;
}


/*clearfix con't*/

.PrintOnly {
    display: none;
}

.ScreenOnly {
    display: block;
}

#pink-contact, #blue-contact, #green-contact, #gray-contact, #yellow-contact {
    display: none;
}

.statistics_counter {
    display: none;
}

body.cke_editable {
    background-color: transparent;
}

.field.field-name-field-image-with-caption {
    margin-bottom: 25px;
}

.com-contact {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #cecece;
    font-size: 16px;
}

.com-contact div {
    margin: 5px 0;
}

.com-contact a {
    color: #cb0000;
}

img#community-grants-map {
    max-height: 516px;
    max-width: 634px;
}

#mobile-comm-contact {
    display: none;
}

div#close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    padding: 6px 15px;
    width: 50px;
    text-align: right;
}

#close-btn img {
    width: 25% !important;
}

div#close-btn:hover {
    cursor: pointer;
}

div#yellow-contact, div#green-contact, div#pink-contact, div#blue-contact, div#gray-contact {
    position: absolute;
    width: 375px;
    height: 100px;
    margin-top: -381px;
    overflow: hidden;
    background: #fff;
    padding: 25px;
    border: 1px solid #999;
    margin-left: 25%;
}

div#pink-contact, div#blue-contact {
    margin-left: 0%;
}

div#green-contact {
    margin-left: 15%;
}

#dt-comm-contact .contact-email, #dt-comm-contact .contact-phone {
    padding-left: 15px;
}

#dt-comm-contact .contact-email {
    margin: 5px 0;
}

#dt-comm-contact .contact-email a {
    color: #cc0000;
}

#dt-comm-contact .contact-email a:hover {
    text-decoration: underline;
}




/*body.page-node-5156 #main #content-section */

img.videoicon {
    width: 14px !important;
    height: auto !important;
}

.tile-image-container, .field-content {
    position: relative;
}

.video-icon img.hover {
    opacity: 1;
}

.views-field-field-research-article-video, .views-field-field-news-video, .item-list .views-field-field-video-embed-code {
    display: none;
}

.stories-item-list .views-row .views-field-field-video {
    display: none;
}

body.page-node-5156 #main #content-section h3 {
    margin: 1.5em 0 0.5em;
    font-size: 16px;
}

body.page-node-5156 #main form .views-exposed-form .views-exposed-widget {
    clear: left;
    display: block;
    padding: 0 !important;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-right: 30px;
    /* margin-top: -20px; */
}

body.page-node-5156 #main-wrapper #main-main-wrapper.interior-page {
    background-color: #e9e9e9;
}

body.page-node-5156 #main-wrapper #main-main-wrapper.interior-page #main #main-content {
    width: 63.492%;
    padding: 0 1.5873% 32px;
}

body.page-node-5156 #main-wrapper #main-main-wrapper.interior-page #main #main-content h2 {
    padding-left: 4.7619%;
    padding-right: 1.5873%;
    color: #000000;
}

body.page-node-5156 #main #main-side-column {
    padding: 0 1.5873% 32px;
    width: 30.1587%;
}

.lt-ie9 .page-node-5156 #main #main-side-column .region-content-side-column {
    margin-left: 32px;
}

body.page-node-5156 #main-wrapper #main-main-wrapper.interior-page #main #main-content > .inner {
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
}

body.page-node-5156 #main #main-side-column > .inner {
    padding-left: 0;
    padding-right: 0;
}

body.page-node-5156 #main #main-side-column .block.column-block {
    width: auto;
    height: auto;
    margin: 0 0 24px;
}

body.page-node-5156 #main #main-side-column .block.column-block .content, #main #main-side-column .block.column-block.tlea .content {
    height: auto;
    color: #fff;
}

body.page-node-5156 #main #main-side-column .webform-component--header-text {
    display: none;
}

body.page-node-39621 #main #main-side-column .webform-component--header-text {
    display: none;
}

body.page-node-5156 #main #main-side-column .block.column-block .links {
    display: none;
}

body.page-node-5156 #main #main-side-column .block.column-block.health-infl {
    background-color: #b8e3eb;
}

body.page-node-5156 #main #main-side-column .block.column-block.health-infl h2 {
    border: none;
}

body.page-node-5156 #main #main-side-column .block.column-block.health-infl .content {
    height: 400px;
    color: #000000;
}

body.page-node-5156 #main #content-section .block.custom-block.thought-leadership-nav {
    margin-left: 30px;
}

body.page-node-5156 .highlighted-wrapper .block.custom-block.thought-leadership-nav-fcs a {
    color: #ffffff;
    text-decoration: underline;
}

body.page-node-5156 .highlighted-wrapper .block.custom-block.thought-leadership-nav-fcs a:hover {
    color: #ffffff;
    text-decoration: none;
}

body.page-node-5156 h5 {
    color: #636363;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    margin: 0em 0 0em;
}

body.page-node-5156 #main #main-side-column .block.column-block.quick-links {
    background-color: #ffffff;
    color: #222;
}

body.page-node-5156 #main #main-side-column .block.column-block.quick-links .content {
    padding-bottom: 18px;
    color: #222;
}

body.page-node-5156 #main #main-side-column .block.column-block.quick-links .content a {
    color: #cb0000;
    text-decoration: underline;
    line-height: 2.5em;
}

body.page-node-5156 #main #main-side-column .block.column-block.quick-links .content a:hover {
    text-decoration: no;
}

body.page-node-5156 #main #main-side-column .block ul.tweets-pulled-listing li a {
    color: #cb0000;
}

body.page-node-5156 #main #main-side-column .block.column-block input[type="text"], body.page-node-5156 #main #main-side-column .block.column-block input[type="submit"], #main #main-side-column .block.column-block.tlea input[type="submit"] {
    width: 98%;
    border: 1px solid #ffffff;
}

body.page-node-5156 .highlighted-wrapper {
    background: #e9e9e9;
}

body.page-node-5156 .view-featured-stories-and-updates .stories-item-list ul li {
    list-style: none;
    float: none;
    margin: 0 0 24px;
    width: auto;
    height: auto;
    background: #fff;
    padding-right: 16px;
    padding-left: 30px;
}

body.page-node-5156 .view-featured-stories-and-updates .stories-item-list ul li .thumbnail {
    float: left;
    width: 25%;
    margin-right: 20px;
    position: relative;
}

body.page-node-5156 .view-featured-stories-and-updates .stories-item-list ul li .video-icon, .tile-image-container .video-icon {
    top: auto;
    bottom: 16px;
    left: 16px;
}

body.page-node-5156 .view-featured-stories-and-updates .stories-item-list ul li .inner-text {
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5em;
    color: #000000;
    margin-left: 32px;
    margin-right: 19px;
}

body.page-node-5156 .view-featured-stories-and-updates .stories-item-list ul li .inner-text .type {
    font-weight: 700;
}

body.page-node-5156 .view-featured-stories-and-updates .stories-item-list ul li .inner-text .author {
    font-size: 14px;
    margin: 0 0 20px;
}

body.page-node-5156 .view-featured-stories-and-updates .stories-item-list ul li .inner-text h3 {
    margin-top: 0.4em !important;
}

body .view-featured-stories-and-updates .stories-item-list ul li .flaglabel {
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background-color: #cb0000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    line-height: 25px;
}

/* Generic version of thumbnail classes */
.thumbnail-list-view {
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
}
.thumbnail-list-view.view-featured-stories-and-updates .stories-item-list ul li {
    list-style: none;
    float: none;
    margin: 0 0 24px;
    width: auto;
    height: auto;
    background: #fff;
    padding-right: 16px;
    padding-left: 30px;
}

.thumbnail-list-view.view-featured-stories-and-updates .stories-item-list ul li .thumbnail {
    float: left;
    width: 25%;
    margin-right: 20px;
    position: relative;
}

.thumbnail-list-view.view-featured-stories-and-updates .stories-item-list ul li .video-icon, .tile-image-container .video-icon {
    top: auto;
    bottom: 16px;
    left: 16px;
}

.thumbnail-list-view.view-featured-stories-and-updates .stories-item-list ul li .inner-text {
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5em;
    color: #000000;
    margin-left: 32px;
    margin-right: 19px;
}

.thumbnail-list-view.view-featured-stories-and-updates .stories-item-list ul li .inner-text .type {
    font-weight: 700;
}

.thumbnail-list-view.view-featured-stories-and-updates .stories-item-list ul li .inner-text .author {
    font-size: 14px;
    margin: 0 0 20px;
}

.thumbnail-list-view.view-featured-stories-and-updates .stories-item-list ul li .inner-text h3 {
    margin-top: 0.4em !important;
}








  


  
}@charset "UTF-8";
/* CSS Document */

